/* 
Pallette color codes:

#86c6c5
rgb(134, 198, 197)

#a8cec3
rgb(168, 206, 195)

#c4e2da
rgb(196, 226, 218)

#ecacac
rgb(236, 172, 172)

#e890a0
rgb(232, 144, 160)

*/
.colors {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.box1 {
    background-color: #86c6c5;
}
.box2 {
    background-color: #a8cec3;
}
.box3 {
    background-color: #c4e2da;
}
.box4 {
    background-color: #ecacac;
}
.box5 {
    background-color: #e890a0;
}



/* || SITEWIDE ||  */

html {
    scroll-behavior: smooth;
}

body {

    /* This takes away little scroll horizontally
    If used, all divs should have enough padding so no content gets out of sight.
    Or fix all divs so it doesnt take up more space than 100% cuz of padding and margins.
    overflow-x: hidden;
    */

    margin: 0;
    font-family: 'Roboto' , 'Comic Sans Ms'
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    /* Not showing purple when visited */
    color: inherit;
}


header img {
    float: right;
    max-width: 100%;
    height: 30vh;
    padding-right: 5vw;
}

/* || NAV || */


.navbar {

    /* navbar stays under header and dont float togheter 
    and keep content under clear from nav */
    clear: both;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.navbar.responsive {
    grid-template-rows: 100px repeat(7, 1fr);
}

.grid-logo {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
}


.grid-cart {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-toggle {
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;

}

.grid-menu {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 9;

}

.nav-items {
    grid-row: 1 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Icon size (and logo) */
    font-size: 1.5em;
}


/* Icon hover */
.nav-items:not(.grid-logo) a:hover,
.nav-items:not(.grid-logo) a:active {
    transform: scale(1.1);

}

.nav-items i {
    /* Icon color */
    color: black;
}

.nav-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Nav links font */
    font-family: 'Quicksand';
}


.navbar li a {
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.3em;
}


.navbar li a {
    display: none;
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
}

.navbar.responsive li a {
    display: block;
}


/* || GRID || */

.grid-container {
    display: grid;
    gap: 20px;
    /* 12 columns span from line 1 to 13 */
    grid-template-columns: repeat(12, 1fr);
    /* min 100px, max auto */
    grid-auto-rows: minmax(100px, auto);
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
}

footer {
    grid-column: 1 / 13;
    grid-row: auto;
}

.thoughts {
    /* This div will be deleted */
    grid-column: 3 / 11;
    grid-row: 4 / 5;
    font-size: small;
    border: 5px solid rgb(34, 0, 79);
    padding: 1em;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

/*Hei og velkommen */
.item1 {
    /*background-image: url("https://cdn.pixabay.com/photo/2023/08/07/13/40/flowers-8175044_1280.png");*/
    /* background-color: mediumpurple; */
    border: 3em solid transparent;
    border-image: url("https://cdn.pixabay.com/photo/2023/08/07/13/40/flowers-8175044_1280.png") 300 round;
    font-size: 0.8em;
    padding: 2em;
    grid-column: 1 / 13;
    grid-row: 2 / 3;

}

/*quote*/
/* OLD CODE
 .item2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
}
*/

.item2 {
    padding: 1em;
    /* Just a template image for now */
    background-image: url("https://cdn.pixabay.com/photo/2017/09/24/19/16/boy-2782835_1280.jpg"), url("https://cdn.pixabay.com/photo/2017/09/24/19/06/girls-2782781_1280.jpg");
    background-size: contain;
    background-repeat: no-repeat;

    grid-column: 3 / 11;
    grid-row: 3 / 4;

    /* Just to see where the box is */
    border: 1px solid red;

    
}

.footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    max-height: 25%;

    /*NB! Instagram img has an inline style to manage the size for now. sorry*/
}


/* FOOTER */

footer {
    height: auto;
    display: grid;

    background-color: rgb(247, 236, 255);
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 0;
    padding-bottom: 20px;
    padding-top: 20px;
}


.contact-links {
    grid-row: 2;
    grid-column: 2 / 12;
    border-top: 1px solid lightgray;
}

.fnav-links {
    grid-row: 3;
    grid-column: 2 / 12;
    border-top: 1px solid lightgray;
}

.nyhetsbrev {
    grid-row: 1;
    grid-column: 2 / 12;


}

footer h3 {
    font-family: Chicle;
    font-weight: 100;
}


footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

footer li {
    margin: 5px;
}

footer div {
    padding: 10px;
}

footer a:hover,
footer a:active {
    text-decoration: underline;
}

/* || MEDIA QUERIES || */

/* Small screens */
@media screen and (max-width: 600px) {

    /* Mobile first! Sure u want to add something here?*/

}

/* Big screens */
@media screen and (min-width: 600px) {

    /* || NAV || */
    .grid-cart {
        grid-column-start: 11;
        grid-column-end: 13;
        z-index: 2;
    }

    .grid-menu {
        grid-column-start: 3;
        grid-column-end: 11;
        grid-row-start: 1;
    }

    .grid-logo {
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: auto;

    }

    .navbar .menu-toggle {
        display: none;
    }

    .navbar li a {
        border: none;
        position: relative;
        display: block;
        font-size: 1.5em;
        padding-top: 30px; /* Hoover takes space, so need to adjust to center text */
    }

    .navbar ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .navbar li {
        flex-wrap: wrap;
        width: 100%;

    }

    .navbar li a:hover,
    .navbar li a:active {
        text-decoration: none;

    }

    .navbar li a:hover::after {
        width: 70%;
        transition: all 0.3s;
    }

    .navbar li a::after {
        content: "";
        display: block;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        height: 2px;
        width: 0px;
        background-color: #e890a0;
    }

    /* || MAIN || */
    
    .grid-item{
        font-size: 16px;
    }
    
    .item1{
        grid-column: 2 / 12;
        border-width: 7em;

    }

    .item2{
        grid-column: 4 / 10;
    }



}

@media screen and (min-width: 1200px) {

    /* || FOOTER || */

    .contact-links {
        grid-row: 1 / 6;
        grid-column: 2 / 5;
        border-top: none;
        border-left: 1px solid gray;
        text-align: center;
        gap: 0;

    }

    .fnav-links {
        grid-row: 1 / 6;
        grid-column: 5 / 7;
        border-top: none;
        border-left: 1px solid gray;
        text-align: center;
    }

    .nyhetsbrev {
        grid-row: 1 / 6;
        grid-column: 7 / 12;
        border-left: 1px solid gray;
        border-right: 1px solid grey;
        text-align: center;



    }
}