/* 
Pallette color codes:

#86c6c5
rgb(134, 198, 197)

#a8cec3
rgb(168, 206, 195)

#c4e2da
rgb(196, 226, 218)

#ecacac
rgb(236, 172, 172)

#e890a0
rgb(232, 144, 160)

*/
/* .colors {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}
.box1 {
    background-color: #86c6c5;
}
.box2 {
    background-color: #a8cec3;
}
.box3 {
    background-color: #c4e2da;
}
.box4 {
    background-color: #ecacac;
}
.box5 {
    background-color: #e890a0;
}

*/

/* || SITEWIDE ||  */

html {
    scroll-behavior: smooth;
}

body {

    /* This takes away little scroll horizontally
    If used, all divs should have enough padding so no content gets out of sight.
    Or fix all divs so it doesnt take up more space than 100% cuz of padding and margins.
    overflow-x: hidden;
    */

    margin: 0;
    font-family: 'Quicksand';
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    /* Not showing purple when visited */
    color: inherit;
}


header img {
    float: right;
    max-width: 100%;
    height: 30vh;
    padding-right: 5vw;
}

p {
    line-height: 2; /* Default is usually around 1.2 */
}

/* || NAV || */


.navbar {

    /* navbar stays under header and dont float togheter 
    and keep content under clear from nav */
    clear: both;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.navbar.responsive {
    grid-template-rows: 100px repeat(7, 1fr);
}

.grid-logo {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    background-color: #ecacac;
    padding: 20%;
}

.grid-logo a {
    color: white;
    font-weight: bold; /* Makes the font thicker */
}


.grid-cart {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-toggle {
    grid-column-start: 11;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;

}

.grid-menu {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 9;

}

.nav-items {
    grid-row: 1 2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Icon size (and logo) */
    font-size: 1.5em;
}


/* Icon hover */
.nav-items:not(.grid-logo) a:hover,
.nav-items:not(.grid-logo) a:active {
    transform: scale(1.1);

}

.nav-items i {
    /* Icon color */
    color: black;
}

.nav-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Nav links font */
    font-family: 'Quicksand';
}


.navbar li a {
    color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1.3em;
}


.navbar li a {
    display: none;
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
}

.navbar.responsive li a {
    display: block;
}


/* || GRID || */

.grid-container {
    display: grid;
    gap: 20px;
    /* 12 columns span from line 1 to 13 */
    grid-template-columns: repeat(12, 1fr);
    /* min 100px, max auto */
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    
}

header {
    grid-row: 1 / 2;
    grid-column: 1 / 13;
}

footer {
    grid-column: 1 / 13;
    grid-row: auto;
}

.thoughts {
    /* This div will be deleted */
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    background-color: #a8cec3c9;
    padding: 10%;
}

.thoughts h3{
    text-align: end;
    font-size: larger;
    color:#254c4c
}

.grid-item {
    font-size: 16px;
}

.grid-container {
    row-gap: 50px;
}

.item1-text {
    box-sizing: border-box;
    padding: 2em; /* Adjust as needed */
}

.item1-content {
    display: grid;
    grid-template-columns: 1fr; /* Stack items on mobile */
    grid-template-rows: auto auto; /* Two rows for text and image */
}

.item1-img {
    width: 100%;
    object-fit: cover;
}

/*Hei og velkommen */
.item1 {
    background: #c4e2da56; 
    font-size: 0.8em;
    text-align: start;
    grid-column: 1 / 13;
    grid-row: 2 / 3;

}

.item1 h1{
    color: #5b363d;
}


/*quote*/
/* OLD CODE
 .item2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
}
*/

.item2 {
    grid-column: 1 / 13;
    grid-row: auto;
    padding: 5%;
    font-size: larger;
    background: linear-gradient(white, #f1d3d3);
    
    
/*#86c6c5
rgb(134, 198, 197)

#a8cec3
rgb(168, 206, 195)

#c4e2da
rgb(196, 226, 218)

#ecacac
rgb(236, 172, 172)

#e890a0
rgb(232, 144, 160)*/

}

.item2 p{
    text-align: center;
    color: #864f59;
}


.item2 h1{
    text-align: start;
    background: linear-gradient(to right, #86c6c5, #ecacac, #de536d);
    -webkit-background-clip: text;
    color: transparent;
}

.quote {
    position: relative;
    font-size: 24px;
}

.quote::before {
    content: "“";
    font-size: 10em;
    position: absolute;
    left: -10px; /* Adjust as needed */
    top: -210px; /* Adjust as needed */
    color:#e890a0; /* Adjust as needed */
}

.quote::after {
    content: "”";
    font-size: 10em;
    position: absolute;
    right: -24px; /* Adjust as needed */
    bottom: -310px; /* Adjust as needed */
    color: #e890a0; /* Adjust as needed */
}

.footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    max-height: 25%;

    /*NB! Instagram img has an inline style to manage the size for now. sorry*/
}


/* FOOTER */

footer {
    height: auto;
    display: grid;

    background-color: rgb(247, 236, 255);
    grid-template-columns: repeat(12, 1fr);
    gap: 30px 0;
    padding-bottom: 20px;
    padding-top: 20px;
}


.contact-links {
    grid-row: 2;
    grid-column: 2 / 12;
    border-top: 1px solid lightgray;
}

.fnav-links {
    grid-row: 3;
    grid-column: 2 / 12;
    border-top: 1px solid lightgray;
}

.nyhetsbrev {
    grid-row: 1;
    grid-column: 2 / 12;


}

footer h3 {
    font-family: Chicle;
    font-weight: 100;
}


footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

footer li {
    margin: 5px;
}

footer div {
    padding: 10px;
}

footer a:hover,
footer a:active {
    text-decoration: underline;
}


/* || OM SIDE || */

.omkdh{
    grid-column: 1/13;
    grid-row: auto;
}
.content-omkdh {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center the children horizontally */
  }

  .left img {
    max-width: 100%;  /* Limit the width of the image to 100% of its container */
    height: auto; /* Let the height adjust automatically to maintain the aspect ratio */
  }
  
  .left, .right {
    width: 100%; /* Take up the full width of the parent */
    text-align: center; /* Center the text */
  }

/* || MEDIA QUERIES || */

/* Small screens */
@media screen and (max-width: 600px) {

    /* Mobile first! Sure u want to add something here?*/

}

/* Big screens */
@media screen and (min-width: 600px) {

    /* || NAV || */
    .grid-cart {
        grid-column-start: 11;
        grid-column-end: 13;
        z-index: 2;
    }

    .grid-menu {
        grid-column-start: 3;
        grid-column-end: 11;
        grid-row-start: 1;
    }

    .grid-logo {
        grid-column-start: 1;
        grid-column-end: 3;
      /*justify-self: auto;*/
        padding: 10%;

    }

    .navbar .menu-toggle {
        display: none;
    }

    .navbar li a {
        border: none;
        position: relative;
        display: block;
        font-size: 1.5em;
        padding-top: 30px; /* Hoover takes space, so need to adjust to center text */
    }

    .navbar ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .navbar li {
        flex-wrap: wrap;
        width: 100%;

    }

    .navbar li a:hover,
    .navbar li a:active {
        text-decoration: none;

    }

    .navbar li a:hover::after {
        width: 70%;
        transition: all 0.3s;
    }

    .navbar li a::after {
        content: "";
        display: block;
        margin-top: 8px;
        margin-left: auto;
        margin-right: auto;
        height: 2px;
        width: 0px;
        background-color: #e890a0;
    }

    /* || MAIN || */
    
    .grid-item{
        font-size: 16px;
    }

    .grid-container {
        row-gap: 50px;
    }

    .item1-content {
        grid-template-columns: 1fr 1fr; /* Side by side on larger screens */
    }

    .item1-text {
        padding: 25%; /* Increase padding on larger screens */
        padding-top: 10%;
    }

    .item1 h1{
        font-size: 250%;
    }

    .item2 h1{
        text-align: center;
    }

    

   /* .item2{
        grid-column: 4 / 10;
    }*/

    .item2{
        font-size: larger;
    }

    .thoughts h3{
        font-size: 400%;
        text-align: center;
    }

    .content-omkdh {
        flex-direction: row; /* Put the children side by side on larger screens */
        justify-content: space-between; /* Add some space between the children */
      }
    
      .left, .right {
        width: 45%; /* Adjust as needed */
      }



}

@media screen and (min-width: 1200px) {

    /* || FOOTER || */

    .contact-links {
        grid-row: 1 / 6;
        grid-column: 2 / 5;
        border-top: none;
        border-left: 1px solid gray;
        text-align: center;
        gap: 0;

    }

    .fnav-links {
        grid-row: 1 / 6;
        grid-column: 5 / 7;
        border-top: none;
        border-left: 1px solid gray;
        text-align: center;
    }

    .nyhetsbrev {
        grid-row: 1 / 6;
        grid-column: 7 / 12;
        border-left: 1px solid gray;
        border-right: 1px solid grey;
        text-align: center;



    }
}