/* || SITEWIDE ||  */

body {
    font-family: "Comic Sans MS";
}


/* || NAVBAR || */

/* || GRID || */

.grid-container {
    display: grid;
    gap: 20px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}


/*Hei og velkommen */
.item1{
    /*background-image: url("https://cdn.pixabay.com/photo/2023/08/07/13/40/flowers-8175044_1280.png");*/
   /* background-color: mediumpurple; */
    border: 100px solid transparent;
    border-image: url("https://cdn.pixabay.com/photo/2023/08/07/13/40/flowers-8175044_1280.png") 300 round;
    padding: 30px;
}

/*quote*/
/* OLD CODE
 .item2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
}
*/

.item2 {
    padding: 100px;
    /* Just a template image for now */
    background-image: url("https://cdn.pixabay.com/photo/2017/09/24/19/16/boy-2782835_1280.jpg"), url("https://cdn.pixabay.com/photo/2017/09/24/19/06/girls-2782781_1280.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
footer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    max-height: 25%;


}


/* Dropdown menu button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: orange;
    color: black;
    border: 1px;
    border-style: solid;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative; 
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute; /* So the content is placed right below button. dropdown-content needs position:relative*/  
    background-color: palevioletred;
    min-width: 160px; /* Set to 100% if it should be as wide as the dropdown button */
    z-index: 1; /* Place on top of other elements*/
    overflow: auto; /* Enables scroll on small screen */   
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: purple;
}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
