/* || SITEWIDE ||  */

body {
    margin: 0;
    font-family: "Comic Sans MS";
}

/* || NAV || */

.navbar {
    width: 100%;
    margin: 1em;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.5em;
}

.navbar li a:not(.menu-toggle) {
    display: none;
}

.navbar li a:hover:not(.menu-toggle),
.navbar li a:active:not(.menu-toggle) {
    text-decoration: underline;
    /* Rember to reset in big screen if make changes here  */
}

.navbar.responsive li a {
    display: block;
}

.navbar .menu-toggle {
    display: block;
    text-align: right;
    padding: 14px 20px;
    font-size: 2em;
}

.navbar.responsive .menu-toggle {
    text-align: right;
}

/* NAVBAR 2 */

.navbar2 {
    width: 100%;
    height: 80px;
    background-color: pink;
    display: block;
}

/* Phone mode */

.desktop {
    display: none;
    /* Hide ul */
}

.menuBtn {
    cursor: pointer;
    float: right;
    padding: 20px;
    font-size: 2em;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay ul {
    list-style-type: none;
}

.overlay a {
    padding: 18px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
    text-decoration: underline;
}

.overlay .closebtn {
    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 35px;
}

/* Big screens */
@media screen and (min-width: 600px) {

    /* Hide phone menu btn, and style desktop menu*/
    .navbar2 .menuBtn {
        display: none;
    }

    .navbar2 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar2 li a {
        color: black;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
        font-size: 1.5em;
        display: block;
        padding-bottom: 3px;
        /* So a:hover border is closer to text */
    }

    .navbar2 li a:hover,
    a :active {
        border-bottom: 1px solid black;
        text-decoration: none;
    }

}


/* || GRID || */

.grid-container {
    display: grid;
    gap: 20px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    /*Making grid items clear while working with it: 
    border: 1px solid red;*/

}

/*Hei og velkommen */
.item1 {
    /*background-image: url("https://cdn.pixabay.com/photo/2023/08/07/13/40/flowers-8175044_1280.png");*/
    /* background-color: mediumpurple; */
    border: 100px solid transparent;
    border-image: url("https://cdn.pixabay.com/photo/2023/08/07/13/40/flowers-8175044_1280.png") 300 round;
    padding: 30px;
}

/*quote*/
/* OLD CODE
 .item2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
}
*/

.item2 {
    padding: 100px;
    /* Just a template image for now */
    background-image: url("https://cdn.pixabay.com/photo/2017/09/24/19/16/boy-2782835_1280.jpg"), url("https://cdn.pixabay.com/photo/2017/09/24/19/06/girls-2782781_1280.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    max-height: 25%;

    /*NB! Instagram img has an inline style to manage the size for now. sorry*/


}

/* || MEDIA QUERIES || */

/* Small screens */
@media screen and (max-width: 600px) {

    /* Mobile first! Sure u want to add something here?*/

}

/* Big screens */
@media screen and (min-width: 600px) {

    .navbar .menu-toggle {
        display: none;
    }

    .navbar li a:not(.menu-toggle) {
        display: block;
        padding-bottom: 3px;
        /* So a:hover border is closer to text */
    }

    .navbar ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .navbar li a:hover:not(.menu-toggle),
    .navbar li a:active:not(.menu-toggle) {
        border-bottom: 1px solid black;
        text-decoration: none;
    }

}