/* || SITEWIDE ||  */

body {
    font-family: "Comic Sans MS";
}

header {
    border: 5px solid black;
    width: 100%;
    height: 200px;
    text-align: center;
    
}


/* || NAVBAR || */

/* Navbar Grid */
.navbar {
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    /* Shopping cart uses 1/10 of navbar*/
    overflow: hidden;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50px;
   
}
/* Shopping icon */
.shopIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav {
    background-color: white;
    overflow: hidden;
    
}

/* Links inside the navigation bar */
.topnav,
a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    border-left: 1px solid rgb(182, 62, 164);
    border-right: 1px solid rgb(182, 62, 164);
}

/* Highlight the current page 
  .topnav a.active {
    background-color: white;
    color: black;
  }
  */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* || GRID || */

.grid-container {
    display: grid;
    gap: 20px;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}


/*Hei og velkommen */
.item1 {
    /*background-image: url("https://cdn.pixabay.com/photo/2023/08/07/13/40/flowers-8175044_1280.png");*/
    /* background-color: mediumpurple; */
    border: 100px solid transparent;
    border-image: url("https://cdn.pixabay.com/photo/2023/08/07/13/40/flowers-8175044_1280.png") 300 round;
    padding: 30px;
}

/*quote*/
/* OLD CODE
 .item2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    max-height: 80%;
}
*/

.item2 {
    padding: 100px;
    /* Just a template image for now */
    background-image: url("https://cdn.pixabay.com/photo/2017/09/24/19/16/boy-2782835_1280.jpg"), url("https://cdn.pixabay.com/photo/2017/09/24/19/06/girls-2782781_1280.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;
    max-height: 25%;


}

/* || MEDIA QUERIES || */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}